body,
html {
  margin: 0;
  overflow: hidden;
}
#shop-page {
  background-image: url("https://d369ls1rsdbvlu.cloudfront.net/pictures/stars.png");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-page__content-container {
  width: 100%;
  height: 80%;
}

.nav {
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 2;
}

.cart {
  z-index: 3;
  width: 35px;
  outline: none;
  font-size: 30px;
  font-family: "VCR";
  color: white;
  transition: 0.3s;
}

.cart:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.shop-page__container {
  display: flex;
  height: 100%;
  width: 80%;
  color: white;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}

.shop-page__container-responsive {
  display: flex;
  height: 100%;
  width: 80%;
  color: white;
  justify-content: space-evenly;
  width: 100%;
}

.return {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "VCR", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 0.5s;
  padding: 0;
}

.return:hover {
  color: rgba(250, 250, 250, 0.5);
  transition: 0.2s;
  cursor: pointer;
}

.return__invisible {
  display: none;
}

.product-image {
  width: 400px;
}

.product-info__absolute {
  position: absolute;
  bottom: 100px;
  left: -50px;
  font-family: "VCR", sans-serif;
}

.product-info__status-available {
  display: block;
}

.product-info__status-unavailable {
  display: none;
}

.product-description-hidden {
  display: none;
}

.product-description {
  height: 200px;
  overflow: auto;
  padding: 10px;
}

.product-description p {
  margin: 0;
}

.product-description table {
  width: 100%;
}

.product-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
}

.product-container:hover {
  cursor: pointer;
}

.shop-page__column-one {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.shop-page__column-one__image {
  width: 800px;
  height: 80%;
}

.player-toggle {
  z-index: 3;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.player-toggle:hover {
  cursor: pointer;
}

.product {
  width: 400px;
  margin-top: 45px;
}

.zoom {
  width: 35%;
}

.column-image {
  width: 1000px;
}

.image-button {
  position: absolute;
  font-family: "VCR";
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.image-button:hover {
  color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
}

.image-button__sub {
  left: 3px;
}

.image-button__add {
  right: 3px;
}

.zoom {
  position: relative;
  overflow: hidden;
}

.shop-page__column-one__button {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "VCR";
  font-weight: bold;
  font-size: 50px;
  transition: 0.5s;
}

.shop-page__column-one__button:hover {
  color: rgba(250, 250, 250, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.button__add {
  right: 200px;
}
.button__sub {
  left: 200px;
}

/* .item-number__identifier {
  position: absolute;
  bottom: 20px;
  font-family: "VCR";
} */

.product {
  position: absolute;
  transition: 0.5s;
}
.product:hover {
  width: 425px;
  transition: 0.5s;
  cursor: pointer;
}

.dimensions {
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
}

.description-invisible {
  display: none;
}

.description-visible {
  display: block;
}

.shop-page__column-two {
  z-index: 2;
  display: none;
  flex-direction: column;
  font-family: "VCR", sans-serif;
  font-weight: lighter;
  justify-content: flex-start;
  margin-top: 125px;
  height: 80%;
  width: 33%;
  text-transform: uppercase;
}

.shop-page__column-two-section {
  height: auto;
}

.variant-button__container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.variant {
  padding: 5px;
  outline: none;
  border: 2px white solid;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.variant:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.3s;
}

.selected-variant {
  padding: 5px;
  outline: none;
  border: 2px white solid;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
  color: black;
}

.out-of-stock__variant {
  padding: 5px;
  outline: none;
  border: 2px black solid;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  cursor: default;
  background-color: rgb(41, 41, 41);
  color: black;
}

.shop-other__images {
  width: 425px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  object-fit: cover;
  object-position: top;
}

.unselected-image {
  width: 65px;
  height: 65px;
  margin: 10px;
  cursor: pointer;
}

.selected-image {
  width: 65px;
  height: 65px;
  margin: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

.buy-button {
  outline: none;
  background-color: black;
  color: white;
  font-family: "VCR";
  margin: 20px 0px 5px 0px;
  width: 100%;
  border: white solid 2px;
  padding: 15px 20px 15px 20px;
  transition: 0.5s;
  text-align: center;
  font-size: 20px;
}

.buy-button:hover {
  background-color: white;
  transition: 0.5s;
  color: black;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

table,
td {
  border: 1px solid white;
  padding: 5px;
}

.checkout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
}

.checkout-container {
  width: 800px;
  height: 500px;
  background-color: black;
  border: white solid 5px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.checkout-header {
  text-align: center;
  position: relative;
  font-family: "VCR";
}

.checkout-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 70%;
  overflow: auto;
}

.checkout-exit {
  font-family: "VCR";
  color: white;
  position: absolute;
  left: 20px;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.checkout-exit:hover {
  cursor: pointer;
  color: rgba(250, 250, 250, 0.5);
  transition: 0.3s;
}

.checkout-header h1 {
  text-transform: uppercase;
  margin: 10px;
}

.checkout-footer {
  color: white;
  position: absolute;
  bottom: 5px;
  width: 95%;
  font-family: "VCR";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-hyperlink {
  font-size: 20px;
  color: rgba(250, 250, 250, 0.5);
  transition: 0.3s;
  text-decoration: none;
}

.checkout-hyperlink:hover {
  color: white;
  transition: 0.3s;
}

.item-line {
  width: 100%;
  font-family: "VCR";
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: white 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-line h4 {
  width: 110px;
  text-align: center;
}

.remove-item {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: "VCR";
  font-size: 20px;
  transition: 0.3s;
}

.remove-item:hover {
  color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.checkout-img {
  width: 100px;
  padding-left: 40px;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .image-button {
    display: none;
  }
  .product-image {
    width: 350px;
  }
}

@media screen and (max-width: 1220px) {
  .product-info__absolute {
    left: 100px;
    width: 200px;
    font-size: 15px;
  }
  .shop-other__images {
    justify-content: center;
  }
  .selected-image {
    width: 50px;
    height: 50px;
  }
  .unselected-image {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366) {
  .shop-other__images {
    width: 120%;
  }
  .product-info__absolute {
    left: 50px;
  }
  .shop-page__column-two {
    margin-top: 100px;
    max-width: 30%;
    justify-content: center;
  }
  .shop-page__column-one {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  .shop-other__images {
    width: 100%;
  }
  .product-image {
    width: 300px;
  }
  .shop-page__column-two {
    margin-top: 0;
  }
  .shop-page__container-responsive {
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: fit-content;
    display: flex;
    color: white;
  }
  .prod {
    display: none;
  }
  .checkout {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .checkout-img {
    padding-left: 0;
  }
  .checkout-footer {
    width: 85%;
  }
}

@media screen and (max-width: 770px) {
  .product-image {
    width: 200px;
  }
  .shop-page__column-one__image {
    width: 750px;
  }
  .product {
    width: 350px;
  }
  .product-info__absolute {
    left: 50px;
  }
}

@media screen and (max-width: 700) {
  .product-info__absolute {
    bottom: 0;
  }
  .player-toggle {
    left: 200px;
    bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .product {
    width: 300px;
  }
  .shop-page__container {
    overflow: hidden;
  }
  .product-image {
    width: 400px;
  }
  .product-info__absolute {
    width: 85%;
    bottom: 5px;
    font-size: 8px;
    text-align: right;
  }
  .product-info__title {
    width: 100%;
  }
  .shop-other__images {
    width: auto;
  }
  .image-button {
    display: none;
  }
  .shop-page__column-one__image {
    width: 725px;
  }
  .shop-page__column-one__button {
    z-index: 3;
  }
  .button__sub {
    left: 20px;
  }
  .button__add {
    right: 20px;
  }
  .column-image {
    width: 100%;
  }
  .nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .item-number__identifier {
    left: 25px;
    font-size: 12px;
  }
  .shop-page__column-two {
    width: 90%;
    margin-top: 0;
  }
  .zoom {
    width: 90%;
    margin-top: 75px;
  }
  .buy-button {
    margin: 10px 0px 10px 0px;
  }
  .variant-button__container {
    justify-content: space-between;
  }
  .checkout-container {
    width: 100%;
    height: 100vh;
  }
  .checkout-row {
    display: none;
  }
  .checkout-img {
    width: 50px;
  }
  .item-line h4 {
    width: 110px;
  }
  .checkout-hyperlink {
    font-size: 15px;
  }
}
