body,
html {
  margin: 0;
  overflow: hidden;
}
#shop-page {
  background-image: url("https://d369ls1rsdbvlu.cloudfront.net/pictures/stars.png");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-page__content-container {
  width: 100%;
  height: 80%;
}

.nav {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
  z-index: 2;
}

.cart {
  z-index: 3;
  width: 35px;
  outline: none;
  font-size: 30px;
  font-family: "VCR";
  color: white;
  transition: 0.3s;
}

.cart:hover {
  opacity: .5;
  transition: 0.3s;
  cursor: pointer;
}
.shop-page__container {
  display: flex;
  height: 100%;
  width: 80%;
  color: white;
}

.return {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "VCR", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 45px;
  transition: 0.5s;
  padding: 0;
}

.return:hover {
  color: rgba(250, 250, 250, 0.5);
  transition: 0.2s;
  cursor: pointer;
}

.return__invisible {
  display: none;
}

.product-info__absolute {
  position: absolute;
  bottom: 100px;
  left: -100px;
  font-family: "VCR", sans-serif;
}

.product-info__status-available {
  display: block;
}

.product-info__status-unavailable {
  display: none;
}

.product-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
}

.product-container:hover {
  cursor: pointer;
}

.shop-page__column-one {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.image-button {
  position: absolute;
  font-family: "VCR";
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.image-button:hover {
  color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
}

.image-button__sub {
  left: 5px;
}

.image-button__add {
  right: 5px;
}

.zoom {
  position: relative;
  overflow: hidden;
}

.shop-page__column-one__button {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "VCR";
  font-weight: bold;
  font-size: 50px;
  transition: 0.5s;
}

.shop-page__column-one__button:hover {
  color: rgba(250, 250, 250, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.button__add {
  right: 120px;
}
.button__sub {
  left: 120px;
}

.item-number__identifier {
  position: absolute;
  bottom: 20px;
  font-family: "VCR";
}

.product {
  position: absolute;
  transition: 0.5s;
}
.product:hover {
  width: 425px;
  transition: 0.5s;
  cursor: pointer;
}

.shop-page__column-two {
  z-index: 2;
  display: none;
  flex-direction: column;
  font-family: "VCR", sans-serif;
  font-weight: lighter;
  justify-content: flex-start;
  margin-top: 125px;
  height: 80%;
  max-width: 45%;
  text-transform: uppercase;
}

.variant-button__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.variant {
  padding: 5px;
  outline: none;
  border: 2px white solid;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.variant:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.3s;
}

.selected-variant {
  padding: 5px;
  outline: none;
  border: 2px white solid;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
  color: black;
}

.out-of-stock__variant {
  padding: 5px;
  outline: none;
  border: 2px black solid;
  font-size: 20px;
  font-family: "VCR";
  width: 50px;
  height: 50px;
  cursor: default;
  background-color: rgb(41, 41, 41);
  color: black;
}

.shop-other__images {
  width: 425px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.unselected-image {
  margin: 10px;
}

.selected-image {
  margin: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

#buy-button {
  outline: none;
  background-color: black;
  color: white;
  font-family: "VCR";
  margin: 20px 0px 20px 0px;
  width: 100%;
  border: white solid 2px;
  padding: 15px 20px 15px 20px;
  transition: 0.5s;
  text-align: center;
}

#buy-button:hover {
  background-color: white;
  transition: 0.5s;
  color: black;
  cursor: pointer;
}

.checkout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
  position: fixed;
}

.checkout-container {
  width: 800px;
  height: 500px;
  background-color: black;
  border: white solid 5px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.checkout-header {
  text-align: center;
  position: relative;
  font-family: "VCR";
}

.checkout-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 75%;
  overflow: auto;
}

.checkout-exit {
  font-family: "VCR";
  color: white;
  position: absolute;
  left: 20px;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.checkout-exit:hover {
  cursor: pointer;
  color: rgba(250, 250, 250, 0.5);
  transition: 0.3s;
}

.checkout-header h1 {
  text-transform: uppercase;
  margin: 10px;
}

.checkout-footer {
  color: white;
  position: absolute;
  bottom: 5px;
  width: 95%;
  font-family: "VCR";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-hyperlink {
  font-size: 20px;
  color: rgba(250, 250, 250, 0.5);
  transition: 0.3s;
  text-decoration: none;
}

.checkout-hyperlink:hover {
  color: white;
  transition: 0.3s;
}

.item-line {
  width: 100%;
  font-family: "VCR";
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: white 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove-item {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: "VCR";
  font-size: 20px;
  transition: 0.3s;
}

.remove-item:hover {
  color: rgba(250, 250, 250, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.checkout-img {
  width: 100px;
  margin-right: 50px;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  display: none;
}
